{% extends 'base.html.twig' %}

{% block title %}Галерея{% endblock %}

{% block body %}

<section>
    <div class="container">
        <div class="row text-center text-lg-start mt-4">

            {% for image in galleryData.data %}
                {{ dump(image) }}
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="{{ image }}" target="_blank" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="{{ image }}">
                    </a>
                </div>
            {% endfor %}
        </div>

        <hr class="mt-2">
        <h1 class="fw-light text-center text-lg-start mb-4 mb-0">На странице обнаружено {{ galleryData.totalCount }} изображений на {{ galleryData.totalSizeMb }} Мб</h1>
    </div>
</section>

{% endblock %}
